

.btn-huge{
  padding-top:100px;
  padding-bottom:100px;
  font-weight:600;
  font-size: 2rem;
}
.buttons { 
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;

}
.buttons button { 
  width: 100%;
}
.buttons a { 
  width: 100%;
}


.btn-outline-thick {
  border-width: medium;
}

.viewport{
  width: 100vw;
  height: 100vh;
}

.image{
  display: flex;
  width:auto;
  height:100%;
  /* max-width: auto;
  height: 100%; */
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}
