

.btn-huge{
  padding-top:100px;
  padding-bottom:100px;
  font-weight:600;
  font-size: 2rem;
}
.buttons { 
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;

}
.buttons button { 
  width: 100%;
}
.buttons a { 
  width: 100%;
}


.btn-outline-thick {
  border-width: medium;
}
