
<div class="container">
    <table class=buttons>
        <tr>
            <td>
                <div class="row">
                    <div class="col">
                        <button type="button" class="btn btn-outline-light btn-outline-thick btn-huge" style="font-size: 2rem;">Quran</button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-outline-light btn-outline-thick btn-huge">Audio</button>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="row">
                    <div class="col">
                        <button type="button fs-2" class="btn btn-outline-light btn-outline-thick btn-huge">Tarannum</button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-outline-light btn-outline-thick btn-huge">Kuliah</button>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>

