
<div class="w3-container w3-mobile">
    <table class=buttons>
        <tr>
            <td>
                <div class="row">
                    <div class="col">
                        <a href="/surah/portrait" class="w3-button w3-padding-large" style="font-size:xx-large">Quran</a>
                    </div>
                    <div class="col">
                        <a href="/imam" class="w3-button w3-padding-large" style="font-size:xx-large">Remote</a>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="row">
                    <div class="col">
                        <a href="/slides" class="w3-button w3-padding-large" style="font-size:xx-large">Tarannum</a>
                    </div>
                    <div class="col">
                        <a href="" class="w3-button w3-padding-large" style="font-size:xx-large">Kuliah</a>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>

