
<div class="container">
    <div id="carouselExampleControls" class="carousel slide" data-bs-interval="false">
        <div class="carousel-inner" id="carousel">
            <div class="carousel-item active">
                <img src=<%= "/images/alquran/"+surahs[0].surah_num+'-'+surahs[0].surah+'('+surahs[0].first_page+'-'+surahs[0].last_page+').'+surahs[0].file_type%> class="d-block w-100" alt="...">
                <h4><%= surahs[0].id - 1 %></h4>
            </div>
            <% for(var x=1; x < surahs.length; x++) { %>
                <div class="carousel-item">
                    <img src=<%= "/images/alquran/"+surahs[x].surah_num+'-'+surahs[x].surah+'('+surahs[x].first_page+'-'+surahs[x].last_page+').'+surahs[x].file_type%> class="d-block w-100" alt="...">
                    <h4><%= surahs[x].id - 1%></h4>
                </div>
            <% } %>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script>
    
    // var socket = io();
    var socket = window.io.connect('http://localhost:3000', {transports:['websocket']});


    socket.on('page', function(sock_data) {
        $.getJSON('/remote.json', function(data) {
            $.each(data, function(i, obj) {
                if(obj.type === "Page"){
                    obj.page = sock_data.page;
                    $('.carousel').carousel(obj.page);
                    return false; // Loop will stop running after this
                }
            });
        });
    });
    $( document ).ready(function() {
        $.getJSON('/remote.json', function(data) {
            $.each(data, function(i, obj) {
                if(obj.type === "Page"){
                    $('.carousel').carousel(obj.page);
                    return false; // Loop will stop running after this
                }
            });
        });
    });



</script>
